# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,164,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

## Informações Sobre os Consumidores

In [15]:
# Implemente aqui sua solução
play_dem = purchase_file.loc[:, ["Login", "Idade", "Sexo"]]
play_dem.head(10)

          Login  Idade       Sexo
0     Aelalis34     38  Masculino
1        Eolo46     21  Masculino
2   Assastnya25     34  Masculino
3  Pheusrical25     21  Masculino
4        Aela59     23  Masculino
5    Tanimnya91     20  Masculino
6   Undjaskla97     20  Masculino
7  Iathenudil29     29   Feminino
8  Sondenasta63     25  Masculino
9    Hilaerin92     31  Masculino

In [20]:
#removendo duplicações
new_play_dem = play_dem.drop_duplicates()
play_count = new_play_dem.count()[0]
play_count

573

In [24]:
#converte para DF
totalDF = pd.DataFrame({"Total de Jogadores" : [play_count]})
totalDF

   Total de Jogadores
0                 573

## Análise Geral de Compras

In [39]:
# Implemente aqui sua solução
#pega valores
media_item_preco = purchase_file["Valor"].mean()
total_item_preco = purchase_file["Valor"].sum()
total_item_count = purchase_file["Valor"].count()
item_id = len(purchase_file["Item ID"].unique())
#print(media_item_preco)
#print(total_item_preco)
#print(total_item_count)
#print(item_id)

#DF resultado
analise_geral = pd.DataFrame({"Total Unicos": item_id,
                              "Total de Compras": total_item_count,
                              "Total de Vendas": total_item_preco,
                              "Preço Médio": [media_item_preco]})

#print(analise_geral)
# Data Munging
analise_geral = analise_geral.round(2)
analise_geral["Preço Médio"] = analise_geral["Preço Médio"].map("${:,.2f}".format)
analise_geral["Total de Vendas"] = analise_geral["Total de Vendas"].map("${:,.2f}".format)
analise_geral = analise_geral.loc[:, ["Total Unicos", "Preço Médio", "Total de Compras", "Total de Vendas"]]

analise_geral

   Total Unicos Preço Médio  Total de Compras Total de Vendas
0           183       $2.93               780       $2,286.33

In [40]:
purchase_file["Item ID"].unique()

array([164, 119, 174,  92,  63,  10, 153, 169, 118,  99,  57,  47,  81,
        77,  44,  96, 123,  59,  91, 177,  78,   3,  11, 183,  65, 132,
       106,  49,  45, 155,  37,  48,  90,  13, 171,  25,   7, 124,  68,
        85, 120,  17, 141,  73, 151,  32, 165,  51, 101, 140,  31,  34,
         2,  86,  39,  28, 160, 134,  83,  38, 158, 110, 122,  54, 105,
        87,  23, 144, 128, 175,  46, 150, 152, 108, 172, 167, 181,  20,
       130, 111, 103,  30, 139, 173,  55, 115,  35,  42,   9,  84, 180,
       102,  53,  18,  74, 126,  50,  62, 125, 121, 129, 149,  12,  71,
        14,  58,  27,  52,  66, 100, 112,  24,  94, 107,   0, 182,  97,
        70,  89,   1, 170,  93, 179,  36,  75, 143, 137, 176, 148, 127,
       147, 161, 154, 157, 116,  61, 131,  41, 145,  60, 162, 135,   8,
        40,  15,  29,  72, 114, 117,  79,  88, 104,  95,  64,  98,  33,
        76, 146, 166,  56,  22,  21,  16,  67, 133,  69, 159,  82, 113,
         6, 163,   5,  19, 168, 136,  80,  26, 142, 178, 156, 109,  43,
         4], dtype=int64)

## Análise Demográfica

In [ ]:
# Implemente aqui sua solução

## Informações Demográficas Por Gênero

In [ ]:
# Implemente aqui sua solução

## Análise de Compras Por Gênero

In [ ]:
# Implemente aqui sua solução

## Consumidores Mais Populares (Top 5)

In [ ]:
# Implemente aqui sua solução

## Itens Mais Populares

In [ ]:
# Implemente aqui sua solução

## Itens Mais Lucrativos

In [ ]:
# Implemente aqui sua solução

## Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>